<ion-header [translucent]="true">
  <ion-toolbar  class="head1">
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
   <ion-toolbar>
     <ion-title size="large">Tab 3</ion-title>
   </ion-toolbar>
 </ion-header>
<ion-card>
  <img src="assets/image/instagram.jpg" alt="coudnt load image " width="90" height="80">
  <big>Instagram: Dante Gwaps</big>
</ion-card>
<ion-card>
  <img src="assets/image/contact.jpg" alt="coudnt load image" width="90" height="80">
  <big>Contact Number: +639272820506</big>
</ion-card>
<ion-card>
  <img src="assets/image/facebook.jpg" alt="coudnt load image" width="90" height="80">
  <big>Facebook: Dante Tenedero Riel</big>
</ion-card>
<ion-card>
  <img src="assets/image/gmail.jpg" alt="coudnt load image" width="90" height="80">
  <big>Gmail: danteriel18@gmail.com</big>
</ion-card>

</ion-content>